#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.fondo {
  background: linear-gradient(135deg, #dff386, #e473c4, #89e5ff);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.btn-1{
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  color: linear-gradient(135deg, #dff386, #e473c4, #89e5ff);;

}
.btn-1:hover {
  background-color: #f0f0f0;
}
body{
  background-image: url('https://i.pinimg.com/originals/94/70/9e/94709edff18abbfcecb713d95298574e.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: black;
 
}
.letra{

  font-size: 18px;
  color: white;
}